:root {
	--btn-cursor: pointer;
	--flex-display: flex;
	--flex-row: row;
	--flex-column: column;
}

.wrapper {
	display: grid;
	/* grid-template-columns: minmax(100px, 300px) 1fr; */
	grid-template-columns: minmax(100px, 500px) 1fr;
	grid-template-areas: "aside main";
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

aside,
form {
	display: var(--flex-display);
	flex-direction: var(--flex-column);
}

aside {
	grid-area: aside;
	height: 100vh;
	background-color: rgba(67, 53, 175, 0.627);
	border: 10px solid orange;
}

form {
	height: inherit;
	padding: 1em;
}

form .personalDetails,
form .education {
	display: var(--flex-display);
	flex-direction: var(--flex-column);
	justify-content: center;
	align-items: center;
	padding-bottom: 1em;
}

form>.personalDetails>header,
form .education>header {
	display: var(--flex-display);
	flex-direction: var(--flex-row);
	justify-content: center;
	align-items: center;
}

.formControl {
	display: var(--flex-display);
	flex-direction: var(--flex-column);
}

form>.personalDetails button[type="button"],
form .education button[type="button"] {
	margin-left: 1em;
	margin-top: 1.3em;
	cursor: var(--btn-cursor);
}

button[type="submit"] {
	align-self: center;
	padding: 0.3em;
	cursor: var(--btn-cursor);
}

main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 200px 1fr;
	grid-template-areas:
		"personalDetails"
		"education"
}

main .education {
	grid-area: education;
}

main h1:first-child {
	margin-top: 0;
	text-align: center;
	height: 100%;
}

main header:first-child {
	grid-area: personalDetails;
	display: var(--flex-display);
	flex-direction: var(--flex-column);
	border: 5px solid green;
	background-color: rgb(14 55 78);
	color: white;
}

main header:first-child>div {
	display: var(--flex-display);
	flex-direction: var(--flex-row);
	justify-content: space-between;
}

aside .btnsContainer:last-child {
	display: var(--flex-display);
	flex-direction: var(--flex-row);
	justify-content: center;
	align-items: center;
	gap: 20px;
	cursor: var(--btn-cursor);
}

main .education {
	display: grid;
	grid-template-columns: repeat(auto-filo, 500px);
	grid-template-areas: "date school";
}

main .education .date {
	display: var(--flex-display);
	flex-direction: var(--flex-row);
}

main .education .school {
	display: var(--flex-display);
	flex-direction: var(--flex-column);
}