:root {
	--btn-cursor: pointer;
	--flex-display: flex;
	--flex-row: row;
	--flex-column: column;
}

.wrapper {
	display: grid;
	grid-template-columns: minmax(350px, 400px) 1fr;
	/* grid-template-columns: minmax(100px, 400px) 1fr; */
	grid-template-areas: "aside main";
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

aside,
form {
	display: var(--flex-display);
	flex-direction: var(--flex-column);
}

aside {
	grid-area: aside;
	height: 100vh;
	background-color: rgba(67, 53, 175, 0.627);
}

form {
	height: inherit;
	padding: 1em;
}

form .personalDetails,
form .education {
	display: var(--flex-display);
	flex-direction: var(--flex-column);
	justify-content: center;
	align-items: center;
	padding-bottom: 1em;
}

form>.personalDetails>header,
form .education>header {
	display: var(--flex-display);
	flex-direction: var(--flex-row);
	justify-content: center;
	align-items: center;
}

.formControl {
	display: var(--flex-display);
	flex-direction: var(--flex-column);
}

form>.personalDetails button[type="button"],
form .education button[type="button"] {
	margin-left: 1em;
	margin-top: 1.3em;
	cursor: var(--btn-cursor);
}

button[type="submit"] {
	align-self: center;
	padding: 0.3em;
	cursor: var(--btn-cursor);
}

main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 200px 1fr;
	grid-template-areas:
		"personalDetails"
		"education";
	padding: 2em;
	border: 2px solid black;
}

main .education {
	display: var(--flex-display);
	flex-direction: var(--flex-column);
	justify-content: flex-start;
	align-items: center;
	grid-area: education;
}

main h1:first-child {
	margin-top: 0;
	text-align: center;
	height: 100%;
}

main header:first-child {
	grid-area: personalDetails;
	display: var(--flex-display);
	flex-direction: var(--flex-column);
	justify-content: center;
	background-color: rgb(14 55 78);
	color: white;
	padding: 2em 0 2em 0;
}

main header:first-child>div {
	display: var(--flex-display);
	flex-direction: var(--flex-row);
	justify-content: space-evenly;
}

aside .btnsContainer:last-child {
	display: var(--flex-display);
	flex-direction: var(--flex-row);
	justify-content: center;
	align-items: center;
	gap: 20px;
	cursor: var(--btn-cursor);
}

main .education {
	display: grid;
	grid-template-columns: repeat(2, 500px);
	grid-template-rows: 100px 200px;
	grid-template-areas:
		"header header"
		"date school";
	padding: 2em;
}

main .education .date {
	grid-area: date;
	display: var(--flex-display);
	flex-direction: var(--flex-row);
}

main .education .school {
	grid-area: school;
	display: var(--flex-display);
	flex-direction: var(--flex-column);
}

main .education header {
	background-color: transparent;
	grid-area: header;
	display: var(--flex-display);
	flex-direction: var(--flex-row);
	justify-content: center;
	align-items: center;
	color: black;
}